In [1]:
import pandas as pd

df = pd.read_csv("../Dataset/NIFTY50_TRANSFORMED.csv")
df.describe()

,Open,High,Low,Close,Daily_Return_%,MA_20
count,6315.000000,6315.000000,6315.000000,6315.000000,6314.000000,6296.000000
mean,7813.645732,7858.810665,7758.153325,7809.684806,0.053124,7793.502909
std,6248.404053,6270.434420,6216.988574,6244.654057,1.376595,6212.006563
min,853.000000,877.000000,849.950000,854.200000,-12.980464,903.582500
25%,2851.375000,2884.100000,2812.650000,2850.600000,-0.566954,2872.156250
50%,5803.050000,5857.350000,5749.500000,5796.900000,0.088065,5783.101250
75%,10786.175000,10830.625000,10727.775000,10781.725000,0.733672,10779.107500
max,26248.250000,26277.350000,26151.400000,26216.050000,17.744308,25508.082500

In [3]:
from scipy.stats import ttest_ind

positive_returns = df[df['Daily_Return_%'] > 0]['Daily_Return_%']
negative_returns = df[df['Daily_Return_%'] < 0]['Daily_Return_%']

t_stat, p_value = ttest_ind(positive_returns, negative_returns)

t_stat, p_value
print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: 73.99135616587495
P-value: 0.0