In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Dataset/NIFTY50.csv")
df.head()

       Date     Open     High      Low   Close
0  1/3/2000  1482.15  1592.90  1482.15  1592.2
1  1/4/2000  1594.40  1641.95  1594.40  1638.7
2  1/5/2000  1634.55  1635.50  1555.05  1595.8
3  1/6/2000  1595.80  1639.00  1595.80  1617.6
4  1/7/2000  1616.60  1628.25  1597.20  1613.3